---
import Layout from "@/layouts/base-layout.astro";
import ArticleItem from "@/components/article-item.astro";
import { siteConfig } from "@/config/site";
import { getCollection, type CollectionEntry } from "astro:content";
import { getYear, getTime } from "date-fns";

const { author } = siteConfig;
const posts = (
  await getCollection("posts", ({ data }) => {
    return import.meta.env.PROD ? data.draft !== true : true;
  })
)
  .sort(({ data: a }, { data: b }) => getTime(b.date) - getTime(a.date))
  .reduce(
    (acc, post) => {
      const year = getYear(post.data.date);
      const index = acc.findIndex(([y]) => y === year);

      return index > -1
        ? (acc[index][1].push(post), acc)
        : acc.concat([[year, [post]]]);
    },
    [] as [number, CollectionEntry<"posts">[]][],
  );
---

<Layout title={siteConfig.title}>
  <main class="mx-6 mb-32 mt-8 flex-1">
    <section class="flex flex-col justify-center px-6 py-16">
      <header class="flex flex-col gap-1">
        <h1 class="text-4xl text-primary-foreground">
          Hi! I'm <span class="text-primary">{author.name}</span>
        </h1>
        {
          author.description && (
            <h2 class="text-3xl text-secondary">{author.description}</h2>
          )
        }
      </header>
      {author.bio && <p class="pt-8 text-lg">{author.bio}</p>}
    </section>
    <section class="mb-24 flex flex-col justify-center gap-7 px-6">
      {
        posts.map(([year, posts]) => (
          <div class="flex flex-col gap-2">
            <h2 class="text-3xl font-bold">{year}</h2>
            {posts.map(({ data, slug }) => (
              <ArticleItem data={data} slug={slug} />
            ))}
          </div>
        ))
      }
    </section>
  </main>
</Layout>
